body {
    font-family: Helvetica, sans-serif, sans-serif;
}

header {
    text-align: center;
    margin-top: 50%;
}

#cityInput {
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
}

button {
    padding: 10px, 20px;
    font-size: 16px;
    background: linear-gradient(15deg, #160817, #2fff0f);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
}

#weather-container {
    margin-top: 30px;
    text-align: center
}

#weather-container h1 {
    font-size: 3.2em;
    font-weight: bold;
    background: linear-gradient(45deg, #160817, #2fff0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin: 20px 0;
}

#weather-container p {
font-size: 1.2em;
font-weight: bold;
background: linear-gradient(45deg, #160817, #2fff0f);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
margin: 20px 0;
}